{% extends "base.html" %}

{% block content %}
<h1>Scenarios</h1>
{% if scenarios %}
<table>
    <thead>
        <tr>
            <th>Scenario</th>
            <th># scenes</th>
        </tr>
    </thead>
    <tbody>
{% for scenario in scenarios %}
    <tr>
        <td><a href="{{ url_for('show_scenario', scenario_name= scenario.name) }}">{{ scenario.name }}</a></td>
        <td>{{ scenario.scenes|length }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>You don't have any scenario defined. <a href="{{ url_for('create_scenario') }}">Create one.</a></p>
{% endif %}
{% endblock %}
